body{
    margin: 0px;
    background-color: ;
    height: auto;
    width: 80rem ;
    
}
 

img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);" src="https://i.imgur.com/KvsBlef.gif" width="408" height="287"
